<%= provide(:title, "Register") %>

<h2 class="center">Register New Account</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  	<%= devise_error_messages! %>

  	<div class="container">
	  	<span class="signup span12">
		  	<span class="left span6">
				<div class="labels">
					<%= f.label :name %>
				</div>
				<div class="labels">
					<%= f.label :email %>
				</div>
				<div class="labels">
					<%= f.label :password %>
				</div>
				<div class="labels">
					<%= f.label :password_confirmation %>
				</div>
			</span>
		  
			<span class="right span6">
				<div class="fields">
					<%= f.text_field :name, placeholder: "John Sample" %>
				</div>
				<div class="fields">
					<%= f.email_field :email, placeholder: "john@sample.com" %>
				</div>
				<div class="fields">
					<%= f.password_field :password, placeholder: "Make it secure!" %>
				</div>
				<div class="fields">
					<%= f.password_field :password_confirmation, placeholder: "Make sure it matches!" %>
				</div>
			</span>
		</div>
	</div>

	<div class="center">
		<%= f.submit "Sign up", class: "btn btn-custom btn-large btn-primary" %>
	</div>
<% end %>

<%= render "devise/shared/links" %>
